@import "_settings.scss";

body {
  margin: 0;
  padding: 0;

  font-family: "Source Open Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;

  .master {
    width: 100%;
  }
}

.master {
  height: 100vh;
  line-height: 1.3em;
  overflow-y: hidden;
  background-color: $board-bg-color;

  color: $app-main-text-color;

  .icon {
    font-size: 14px;
    margin-right: 3px;
  }
}
