@import '_setting.scss';
li.task-item{
    background-color: white;
    padding: $gap;
    &:not(:last-child){
      margin-bottom: $gap;
    }
  }
  img{
    display: block;
    width: calc(100% + 2 * #{$gap});
    margin: -$gap 0 $gap (-$gap);
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }